<a href="https://colab.research.google.com/github/jiseon2/class2023Fall/blob/main/10_27%20syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [1]:
for i in range(5):            # : 잊지마!!       #0부터 시작해서 5번째까지 만들어라 [0,1,2,3,4]랑 같음
  print(i)

0
1
2
3
4

In [2]:
for i in range(1,5):      #1부터 5 직전까지 만들어라    #range는 숫자열을 만들어 줌
    print(i)

1
2
3
4

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = 0
if a == 0:          #같다는 뜻은 ==   # :  잊지마!!!!!
    print(a)
else:
    print(a+1)

0

In [ ]:
for i in range(1, 3):         #1부터 3전까지 즉, 1~2      #i가 2번 돌아감
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for i in range(1, 3):         #시험문제!
    for j in range(3, 5):
        if j >=4:             #총 2번 실행됨
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]              #list comprehension, 파이썬에만 있는 스타일, list안에 for를 심는 게 list comprehension
b = [i for i in a if i >=2]       #list로 만들어 줌 / 제일 큰 난이도, 제일 편하게 해줌
b

[2, 3, 4]

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [1, 2, 3, 4]
c = {a[i]:b[i] for i in range(4)}
c

{'blue': 3, 'green': 2, 'purple': 4, 'red': 1}